
   <div class="cap">
    <h4>custmerapplicaton works!</h4>
    </div>
    <br>
    <br>
<table class="table table-strip table-hover">
    <thead>
        <th>customerCode</th>
        <th>customeName</th>
        <th>customerAmount</th>
    </thead>
    <tbody *ngIf="customers?.length">
        <tr *ngFor="let customer of customers">
            <td>{{customer.customerCode}}</td>
            <td>{{customer.customerName}}</td>
            <td>{{customer.customerAmount}}</td>
        </tr>
    </tbody>
</table>
<br>
<br>
<form class="row gy-2 gx-3 align-items-center">
    <div class="col-auto">
        <label class="form-label" for="autoSizingInput">customerCode</label>
        <input type="text" name="name" class="form-control" id="autoSizingInput" [(ngModel)]="customersForm.customerCode">
    </div>
    <div class="col-auto">
        <label class="form-label" for="autoSizingInputGroup">customerName</label>
        <input type="text" name="class" class="form-control" id="autoSizingInputGroup" [(ngModel)]="customersForm.customerName">
    </div>
    <div class="col-auto">
        <label class="form-label" for="autoSizingInput">customerAmount</label>
        <input type="text" name="section" class="form-control" id="autoSizingInput" [(ngModel)]="customersForm.customerAmount">
    </div>
    <br>
    <div class="col-auto">
        <label class="visually-hidden" for="autoSizingInput"></label>
        <button type="button" class="form-control btn btn-success" value="submit" (click)="onClick()">submit</button>
    </div>
    <br>
</form>
<br>                                                                                         